html {
    font-size: 10px;
}

h1 {
    margin: 2rem 0;
    color: #000;
    font-family: "billabong";
    font-size: 13rem;
    font-weight: 100;
    text-align: center;
    letter-spacing: -1px;
}

img {
    width: 100%;
}

@font-face {
    font-family: "billabong";
    src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix") format('embedded-opentype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff") format('woff'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf") format('truetype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular") format('svg');
}

.photogrid {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    max-width: 1000px;
    margin: 0 auto;
}

.photogrid figure {
    flex-basis: calc(33.333% - 4rem);
    flex-grow: 1;
    margin: 0 2rem 2rem;
    padding: 2rem;
    border: 1px solid #d3d3d3;
}